<div class="card-body list-group">
    <h5 class="text-center">Created By: <%=username%></h5>
    <ol>
        <% for (let exercise of exercises){ %>
        <%-include(<li><span class="badge badge-secondary m-2"><%=workout.exercise%></span></li>)-%>
        <% } %>
    </ol>
</div>