<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron">
        <article class="p-5">
            <h1><span class="text-center display-1 bg-secondary text-light p-4">Progress</span></h1>
            <br>
            <h2><span class="text-center bg-dark text-light p-3">Your Path To Success</span></h2>
        </article>

        <div class="login">
            <div id="accordion">
                <div class="card">
                    <div class="card-header text-center" id="headingOne">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <h3 class="mb-0">Log In</h3>
                        </button>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">


                            <form class="form-signin text-center" method="POST" action="/login">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" id="username" name="username" class="form-control m-1"
                                    placeholder="Username" required autofocus>
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" id="password" name="password" class="form-control m-1"
                                    placeholder="Password" required>
                                <div class="checkbox mb-3">
                                </div>
                                <button class="btn btn-lg btn-primary btn-block m-1" type="submit">Log in</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center" id="headingTwo">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <h3 class="mb-0 text-center">Sign Up</h3>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <form class="form-signin text-center" method="POST" name="registration" action="/register">
                                <!--
                                <label for="firstname" class="sr-only">Firstname</label>
                                <input type="text" id="firstname" name="firstname" class="form-control"
                                    placeholder="Firstname" required autofocus>
                                <label for="lastname" class="sr-only">Lastname</label>
                                <input type="text" id="lastname" name="lastname" class="form-control"
                                    placeholder="Lastname" required autofocus>
                                -->
                                <label for="email" class="sr-only">Username</label>
                                <input type="username" id="username" name="username" class="form-control m-1"
                                    placeholder="Username" required autofocus>
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" id="password" name="password" class="form-control m-1"
                                    placeholder="Password" required>
                                <input type="password" id="password2" name="password2" class="form-control m-1"
                                    placeholder="Verify Password" required>
                                <button class="btn btn-lg btn-primary btn-block m-1" type="submit">Sign Up</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>