
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/navBarStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

         
    <script src="https://kit.fontawesome.com/e9a8538c89.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>

    <%- include("partials/navbar", {username: username}); -%>

    <h1 class="title"> Member Workouts </h1>

    <section id="mainButtons" class="d-flex flex-wrap justify-content-around">
        <article>
            <form method="GET" action="/workoutBuilder">
                <button type="submit" id="buttonCreateWorkout" class="mainButton">
                    <article>
                        <div class="innerButton">
                            <p>
                                <i class="fas fa-dumbbell"></i>
                                <b>Create New Workout</b>
                            </p>
                            <p>
                                Build a workout from scratch
                            </p>
                        </div>
                </button>
            </form>
        </article>
    </section>

    
    <section id="workoutCardList" class="d-flex flex-wrap">
<!-- idea: 

    1. passed the array of workouts from db
    (array of workouts contain an array of sets -> we want to loop through the sets to output all of them)
    2. start from the last workout added to the database (to output new -> old)

    see work.ejs for rest of loop code

    3. loop through the sets of the workout
       - if set DOES have reptitions, output sets x reps
       - if set DOES NOT have repetitions but has sets and a duration, output sets of duration
       -if set only has a duration, output duration

    4. if user wants to add to his workout, pass the value of the workout id to the addWorkout route

    NOTE: May want to add a different button if workout already resides in users currentWorkouts (just an idea if time permits, don't have to)

    
-->

<% for (let workout of allWorkouts) { %>
    <%-include ("partials/workoutCard.ejs", {workout: workout, current: false}); -%>
<% } %>

    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

</body>

</html> 
