<article id="set2Card" class="card setCard m-3">
    <h4 class="card-title bg-primary text-light text-center p-2 m-2"><%=set.number%></h4>
    <div class="card-body bg-light">
        <label for="exercise">Exercise:</label>
        <select name="exercise" id="exercise" required>
            <!--list to be populated by
            exercises pulled from db-->
            <%- include ("exercises")-%>
            <!-- <option value="squat">Squat</option>
            <option value="legcurl">Leg Curl</option> -->
        </select>
        <label for="amount">Amount:</label>
        <input type="text" class="form-control" id="amount" name="amount" placeholder="N/A" />
        <label for="duration">Duration:</label>
        <input type="text" class="form-control" id="duration" name="duration" placeholder="N/A" />
    </div>
</article>